#u1977-4
{
	font-family: raleway-n4, sans-serif;
}

#u1983-4
{
	font-family: raleway-n4, sans-serif;
}

#u2001-4
{
	font-family: raleway-n4, sans-serif;
}

#u2021-4
{
	font-family: raleway-n4, sans-serif;
}

#u2054-4
{
	font-family: raleway-n4, sans-serif;
}

#u2163-4
{
	font-family: raleway-n7, sans-serif;
}

#u1748-73,#u2165-68,#u3253-4,#u3254-4,#u3255-4,#u3256-4,#u3257-4,#u3258-4,#u3259-4,#u3265-3
{
	font-family: raleway-n4, sans-serif;
}

