#u1769-4
{
	font-family: raleway-n4, sans-serif;
}

#u1775-4
{
	font-family: raleway-n4, sans-serif;
}

#u1793-4
{
	font-family: raleway-n4, sans-serif;
}

#u1813-4
{
	font-family: raleway-n4, sans-serif;
}

#u1846-4
{
	font-family: raleway-n4, sans-serif;
}

#u2069-4,#u1106-4,#u1122-4,#u1117-4
{
	font-family: raleway-n7, sans-serif;
}

#u1107-2,#u1121-2,#u1121-4,#u1121-6,#u1121-8,#u1121-10,#u1121-12,#u1121-14,#u1121-15,#u1116-2,#u1116-3,#u1116-5,#u1116-6,#u3195-4,#u3196-4,#u3197-4,#u3198-4,#u3199-4,#u3200-4,#u3201-4,#u3207-3
{
	font-family: raleway-n4, sans-serif;
}

