#u2231-4
{
	font-family: raleway-n4, sans-serif;
}

#u2187-4
{
	font-family: raleway-n4, sans-serif;
}

#u2266-4
{
	font-family: raleway-n4, sans-serif;
}

#u2245-4
{
	font-family: raleway-n4, sans-serif;
}

#u2210-4
{
	font-family: raleway-n4, sans-serif;
}

#u2237-4
{
	font-family: raleway-n7, sans-serif;
}

#u2236-67,#u3156-68,#u3282-4,#u3283-4,#u3284-4,#u3285-4,#u3286-4,#u3287-4,#u3288-4,#u3294-3
{
	font-family: raleway-n4, sans-serif;
}

