#u1873-4
{
	font-family: raleway-n4, sans-serif;
}

#u1879-4
{
	font-family: raleway-n4, sans-serif;
}

#u1897-4
{
	font-family: raleway-n4, sans-serif;
}

#u1917-4
{
	font-family: raleway-n4, sans-serif;
}

#u1950-4
{
	font-family: raleway-n4, sans-serif;
}

#u2082-4,#u1322-4,#u1345-6,#u1353-8,#u1333-4,#u1341-4
{
	font-family: raleway-n7, sans-serif;
}

#u3224-4,#u3225-4,#u3226-4,#u3227-4,#u3228-4,#u3229-4,#u3230-4,#u3236-3
{
	font-family: raleway-n4, sans-serif;
}

