#u2315-4
{
	font-family: raleway-n4, sans-serif;
}

#u2378-4
{
	font-family: raleway-n4, sans-serif;
}

#u2335-4
{
	font-family: raleway-n4, sans-serif;
}

#u2295-4
{
	font-family: raleway-n4, sans-serif;
}

#u2359-4
{
	font-family: raleway-n4, sans-serif;
}

#u2395-4
{
	font-family: raleway-n7, sans-serif;
}

#u3398-4,#u3399-4,#u3400-4,#u3401-4,#u3402-4,#u3403-4,#u3404-4,#u3410-3
{
	font-family: raleway-n4, sans-serif;
}

