.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 546px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F6F6F6;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -131px;
}

#u2483
{
	z-index: 2;
	width: 920px;
	-pie-box-shadow: 0px 0px 8px #D8D8D8;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	border-style: none;
	border-color: transparent;
	background-color: #00CECC;
	margin-left: 20px;
	position: relative;
}

#u2504
{
	z-index: 38;
	width: 235px;
	position: relative;
	margin-right: -10000px;
}

#u2504_img
{
	padding-right: 1px;
}

#menuu2442
{
	z-index: 3;
	width: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 264px;
}

#u2461-4
{
	width: 87px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2458:hover #u2461-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2458:hover #u2461-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu2506
{
	z-index: 10;
	width: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 416px;
}

#u2455,#u2519
{
	width: 87px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
}

#u2458,#u2522
{
	width: 87px;
	position: relative;
}

#u2525-4
{
	width: 87px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2458.MuseMenuActive #u2461-4,#u2522:hover #u2525-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2522:hover #u2525-4 p
{
	font-weight: bold;
}

#menuu2422
{
	z-index: 17;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 558px;
}

#u2424
{
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2427-4
{
	width: 45px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2522.MuseMenuActive #u2525-4,#u2424:hover #u2427-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2424:hover #u2427-4 p
{
	font-weight: bold;
}

#menuu2462
{
	z-index: 24;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 669px;
}

#u2476
{
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2424:hover,#u2476:hover
{
	margin: 0px;
}

#u2479-4
{
	width: 45px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2424.MuseMenuActive #u2427-4,#u2476:hover #u2479-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2476:hover #u2479-4 p
{
	font-weight: bold;
}

#menuu2484
{
	z-index: 31;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 813px;
}

#u2423,#u2475,#u2485
{
	width: 45px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u2486
{
	width: 45px;
	position: relative;
}

#u2487-4
{
	width: 45px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2476.MuseMenuActive #u2479-4,#u2486:hover #u2487-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2486.MuseMenuActive #u2487-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2486:hover #u2487-4 p
{
	font-weight: bold;
}

#u2458.MuseMenuActive #u2461-4 p,#u2522.MuseMenuActive #u2525-4 p,#u2424.MuseMenuActive #u2427-4 p,#u2476.MuseMenuActive #u2479-4 p,#u2486.MuseMenuActive #u2487-4 p
{
	font-weight: normal;
}

#pu2421-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 45px;
	position: relative;
}

#u2421-4
{
	z-index: 40;
	width: 151px;
	min-height: 38px;
	font-size: 25px;
	color: #00CCCC;
	line-height: 30px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u2416
{
	z-index: 44;
	width: 72px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #00CCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 2px;
}

#pu2537-16
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u2537-16
{
	z-index: 48;
	width: 388px;
	min-height: 498px;
	text-align: justify;
	color: #4D4D4D;
	font-family: raleway, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2537-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

#u2537-5,#u2537-9
{
	font-weight: 700;
}

#u2537-3,#u2537-6,#u2537-7,#u2537-11,#u2537-12,#u2537-14
{
	font-weight: 400;
}

#u2482-3
{
	z-index: 45;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u2538
{
	z-index: 64;
	width: 356px;
	height: 450px;
	border-width: 4px;
	border-style: solid;
	border-color: #00CECC;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 494px;
	background: transparent url("../images/10384606_658245280923340_6938209110456192737_n-u2538-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3310
{
	z-index: 65;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #575757;
	position: relative;
	left: -100px;
	margin-top: 64px;
}

#u3310_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 16px;
}

#pu3311-4
{
	width: 0.01px;
	left: 240px;
	position: relative;
}

#u3311-4
{
	z-index: 66;
	width: 39px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3312-4
{
	z-index: 70;
	width: 116px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u3313-4
{
	z-index: 74;
	width: 104px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u3314-4
{
	z-index: 78;
	width: 62px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 326px;
}

#u3315-4
{
	z-index: 82;
	width: 84px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#u3316-4
{
	z-index: 86;
	width: 55px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 514px;
}

#u3317-4
{
	z-index: 90;
	width: 71px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#pu3326
{
	width: 0.01px;
	left: 195px;
	margin-top: 12px;
	position: relative;
}

#u3326
{
	z-index: 109;
	width: 120px;
	position: relative;
	margin-right: -10000px;
}

#u3327
{
	z-index: 114;
	width: 35px;
	position: relative;
	margin-right: -10000px;
}

#u3329-4
{
	z-index: 110;
	width: 85px;
	min-height: 22px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u3318
{
	z-index: 94;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u3320
{
	z-index: 99;
	width: 38px;
	position: relative;
	margin-right: -10000px;
}

#u3319-4
{
	z-index: 95;
	width: 57px;
	min-height: 22px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 38px;
}

#u3322
{
	z-index: 101;
	width: 362px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 244px;
}

#u3324
{
	z-index: 107;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u3323-5
{
	z-index: 102;
	width: 330px;
	min-height: 26px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 32px;
}

#u3323-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

#u3323-3
{
	font-size: 15px;
	line-height: 18px;
	font-family: raleway, sans-serif;
	font-weight: 700;
}

#u3330
{
	z-index: 116;
	width: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 606px;
}

#u3332
{
	z-index: 121;
	width: 30px;
	position: relative;
	margin-right: -10000px;
}

#u3331-4
{
	z-index: 117;
	width: 121px;
	min-height: 26px;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 34px;
}

#u3334-4
{
	z-index: 123;
	width: 219px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	left: 481px;
	margin-top: 9px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 82px;
}

#page .verticalspacer
{
	clear: both;
}

